Flask==3.0.0
flask-socketio==5.3.6
requests==2.31.0
pandas==2.1.1
numpy==1.26.0
python-dotenv==1.0.0
Pillow==10.0.1
fpdf2==2.7.5
tensorflow==2.15.0
agora-token-builder==1.0.0
pinecone-client==3.0.0
langchain-groq==0.0.1
eventlet==0.33.3
twilio==9.0.5
